body {
  background-color: #b5b5b5;
}

h1 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
}

p {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}
