body {
  background-color: black;
}

h1 {
  color: orange;
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
}

p {
  color: orange;
  font-family: "Times New Roman", Times, serif;
  font-size: 48px;
}

/*
S29jIGxoenlscCBwemhibGZsayBsd2hrIG1lY3cgYWIgbnJjb2EgZmV6Zml5ZWwgcG9iIGFvZHggc3hhYWEgY3NlcGZleiBlaWR4IA==
*/
