body {
  background-color: red;
}

h1 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
}

p {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

/*
Docgd lrd docgd ele iozed dtizs. Zhuyh azd zhuyh if gwxs. Elie ia phlx ste bxlww ue, tpx gtvl friipph bqnmtts xhq sckflge. Rivw hpv af ywnr zan diad, tsms us i pacrizg. - Iubj & Pazcm.
*/
