body {
  background-color: #1b851c;
}

h1 {
  color: #42f545;
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
}

p {
  color: #42f545;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}
