body {
  background-color: #5b89ba;
}

h1 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
}

p {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

table, th, td {
  border: 1px solid #b5b5b5;
}

#sidebar {
	float: right;
	width: 200px;
	padding: 15px 10px;
}

.container {
  position: relative;
}

#clip {
  position: absolute;
  clip: rect(0, 150px, 350px, 0);
  margin-top: -70px;
}

#clip2 {
  position: absolute;
  clip: rect(0, 150px, 350px, 0);
  margin-top: -70px;
  margin-left: 145px;
}



























/*
c
n
o
u
h
a
d
w
k
n
*/
