body {
  background-color: #cfcfcf;
}

h1 {
  color: red;
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
}

p {
  color: red;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}
